body {
    margin: 0px; padding: 0px;
    background-color: #2390d4
}

#main {
    background-color: #efefef;
}

#footer {
    color: white;
}

.container {
    width: 950px;
    margin: 0 auto;
    border: 1px solid red;
}