body {
    margin: 0px; 
    padding: 0px;
    background-color: #1a1a1a;
}

#main {
    background-color: #1661ba;
}

#footer {
    color: white;
    clear: both;
}

.container {
    width: 960px;
    margin: 0 auto;
}

p, h2, h3, span {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #8cd2f7;
    font-weight: bold;
}

a:active {
    color: #8cd2f7;
}

a:visited {
    color: blue;
}

#header {
    padding: 10px 0px 10px 15px;
    background-color: #efefef;
}

#logo h1, #logo small {
    margin: 0px;
    display: block;
    text-indent: -9999px;
}

#logo {
    background-image: url(images/waxtrax.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 170px;
    width: 180px;
}

#feature {
    display: inline-block;
    background-color: #ffffff;
    height: 450px;
}

#feature #carousel {
    float: left;
    height: 100%;
    width: 70%;
    overflow: hidden;
}

#feature #carousel img {
    max-width: 100%;
}

#feature #aside {
    position: relative;
    float: right;
    background-color: #fff;
    width: 30%;
    height: 100%;
    right: 0px;
    padding: 0px 10px 0px 10px;
    border: 1px solid black;
    box-sizing: border-box;
    
}

#feature #aside #aside-head h2, #feature #aside #aside-head h3 {
    padding: 0px;
    margin: 5px 0px;
}

#feature #aside #aside-button {
    position: absolute;
    left: 30px;
    top: 250px;
}

#feature #aside #aside-button #button {
    background-color: #00d608;
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 20px 55px;
}

#content {
    float: clear;
    text-align: center;
    padding: 15px 15px 15px 15px;
    background-color: #efefef;
}

#content #whatshot {
    text-align: left;
}

#content #whatshot h2, #feature #aside #aside-head h2 {
    font-weight: bold;
    font-size: 2em;
}

#content #albums {
    width: 100%;
    text-align: center;
}

#content .album {
    display: inline-block;
    height: 300px;
    margin: 0px 20px;
}

#content .album .artwork {
    height: 250px;
    width: 250px;
    background-color: #fff;
}

#content .album .artwork img {
    height: 100%;
    width: 100%;
}

#content .album .info {
    text-align: left;
    width: 250px;
}

#content .album .info ul {
    list-style: none;
    padding-left: 0;
    padding-bottom: 10px;
}

#content .album .info ul li {
    font-family: Arial;
}

#content .album .info ul li:nth-child(2) {
    font-size: small;
}