body {
    margin: 0px; padding: 0px;
    background-color: #1a1a1a;
}

#main {
    background-color: #1661ba;
}

#footer {
    color: white;
}

.container {
    width: 960px;
    margin: 0 auto;
    border: 1px solid red;
}

#header {
    padding: 10px 0px 10px 15px;
    background-color: #efefef;
}

#logo h1, #logo small {
    margin: 0px;
    display: block;
    text-indent: -9999px;
}

#logo {
    background-image: url(images/waxtrax.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 170px;
    width: 180px;
}

#feature {
    background-color: #ffffff;
    height: 450px;
}

#feature #carousel {
    float: left;
}

#feature aside {
    float: right;
    width: 30%;
    height: 70%;
    border: 1px solid black;
    margin-right: 15px;
}

#content {
    float: clear;
    background-color: red;
}

#content #whatshot {
    padding-top: 15px;
}

#content #whatshot thead {
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2em;
}

#content #whatshot .album {
    height: 250px;
    width: 250px;
    background-color: #fff;
    border-spacing:
}